/* styles.css */

/* Perustyyli koko sivustolle */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

#game-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: scale(1.3); /* Skaalataan peli 30% suuremmaksi */
    margin-top: 10px; /* Lisätään marginaali yläreunaan */
}

#game-title {
    font-size: 36px;
    margin-bottom: 20px;
}

#drop-boxes, #choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.box, .choice {
    width: 75px;
    height: 75px;
    border: 2px solid #000;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    background-color: #f0f0f0;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.choice.incorrect {
    border: 8px solid red;
}
.faded {
    opacity: 0.5; /* Haaleampi ulkoasu */
    pointer-events: none; /* Estää uudelleenklikkauksen */
}

#next-level {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto; /* Keskitetään painike */
}

#next-level:hover {
    background-color: #45a049;
}

/* Tähtien tyyli */
.star {
    color: gold;
    font-size: 40px;
    margin: 0 5px;
}

/* Responsiiviset tyylit */
@media (max-width: 600px) {
    .box, .choice {
        width: 60px;
        height: 60px;
        margin: 5px;
        font-size: 20px;
    }

    #game-title {
        font-size: 28px;
    }

    #next-level {
        font-size: 18px;
        padding: 12px 24px;
    }
}

@media (max-width: 400px) {
    .box, .choice {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }

    #game-title {
        font-size: 24px;
    }

    #next-level {
        font-size: 16px;
        padding: 10px 20px;
    }
}
